@import "basscss";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #333;
  color: #eee;
}

.container,
.audience,
.audience > div,
.tickle-container {
  height: 100%;
}

.tickle-container {
  overflow: hidden;
}