@import "basscss";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #333;
  color: #eee;
}

.container,
.audience,
.audience > div,
.tickle-container,
.performer-panel-container {
  height: 100%;
}

.group-chooser-btn {
  width: 100%;
  height: 100%;
}

.tickle-container {
  overflow: hidden;
}

.performer-panel-header > h1 {
  text-align: center;
  font-size: 10vh;
  margin-top: 0;
}

.performer-panel-section-index {
  width: 120px;
  height: 120px;
  display:block;
  margin: 0 auto;
  font-size: 100px;
  line-height: 120px;
  text-align: center;
  border-radius: 50%;
  background-color: #EE352E;
}
